<div class="left-sidebar-pro">
  <nav id="sidebar" class="">
    <div class="sidebar-header">
      <a class="navbar-brand js-scroll" href="index.html"
        ><img
          class="logo"
          src="assets/images/header_logo2.png"
          width="130px"
          height="50px"
      /></a>
    </div>
    <div
      class="left-custom-menu-adp-wrap comment-scrollbar"
      style="margin-top: 10%"
    >
      <nav class="sidebar-nav left-sidebar-menu-pro">
        <ul class="metismenu" id="menu1">
          <li id="removable">
            <ul class="submenu-angle page-mini-nb-dp" aria-expanded="false">
              <li style="border-bottom: 1px solid #fff">
                <a title="Total User" routerLink="/admin"
                  ><i class="fa fa-tachometer icon" aria-hidden="true"></i
                  ><span class="mini-sub-pro">Dashboard</span></a
                >
              </li>
              <li style="border-bottom: 1px solid #fff">
                <a title="User" routerLink="/admin/user"
                  ><i class="fa fa-user-circle-o icon" aria-hidden="true"></i
                  ><span class="mini-sub-pro">User</span></a
                >
              </li>

              <li style="border-bottom: 1px solid #fff">
                <a title="view Category" routerLink="/admin/category"
                  ><i class="fa fa-cube icon" aria-hidden="true"></i>
                  <span class="mini-sub-pro">Category</span></a
                >
              </li>
              <li style="border-bottom: 1px solid #fff">
                <a title="Subcategory" routerLink="/admin/subcategory"
                  ><i class="fa fa-cubes icon" aria-hidden="true"></i
                  ><span class="mini-sub-pro">SubCategory</span></a
                >
              </li>

              <li style="border-bottom: 1px solid #fff">
                <a title="order" routerLink="/admin/order"
                  ><i class="fa fa-first-order icon" aria-hidden="true"></i
                  ><span class="mini-sub-pro">Order</span></a
                >
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </nav>
</div>
