<app-header></app-header>
<div class="container" style="padding-top: 150px; padding-bottom: 150px">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header" style="background-color: #111111"><span style="color: white;font-weight: bold">Change password</span></div>

                <div class="card-body">
                    <form aria-label="Login" [formGroup]="User"  (ngSubmit)="submit()">
                        <input type="hidden" name="_token" value="BmGHEPYE4k7Xg0PximTWYdXZ78JXsi918Mlslwgp">
                        <div class="form-group row">
                            <label for="email" class="col-sm-4 col-form-label text-md-right" style="margin: 0px 0;background-color: #fff; white-space: nowrap;
    padding-top: 14px;">Old-password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" formControlName="password"  [(ngModel)]="user.password"   style="margin: 0px 0;">
                                <div *ngIf="submitted && User.controls.password.errors?.required" >password is required</div>
                                <!-- <div *ngIf="submitted && User.controls.email.errors?.email" >Valid Email is required</div> -->

                            
                                <!-- <div *ngIf="EwayForm.controls.docNo.errors?.pattern">THIIS TYPE NOT MATCH</div> -->
                              
                                                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">New password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" formControlName="new_password" [(ngModel)]="user.new_password" >
                                <div *ngIf="submitted && User.controls.new_password.errors?.required" >password is required</div>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Confirm-password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" formControlName="confirm_password" [(ngModel)]="user.confirm_password" >
                                <div *ngIf="submitted && User.controls.confirm_password.errors?.required" >password is required</div>
                                <div *ngIf="submitted && !User.controls.confirm_password.errors?.required &&this.User.hasError('notSame')">Must match password</div>

                            </div>
                        </div>

                       

                        <div class="form-group row mb-0">
                            <div class="col-md-8 offset-md-4">
                                <button  type="submit" class="btn" style="background-color: #111111; border: none;color: white">
                                    Submit
                                </button>
                                
                                
                                {{massage}}


                                
                            </div>
                        </div>

                        

                    </form>
                </div>
            </div>

            
        </div>
    </div>
</div>


<!-- footer -->
<app-footer></app-footer>