.nav_hover:hover {
  color: #add1cd;
}
.nav_hover {
  font-size: 16px;
  color: white;
}
.lead {
  font-size: 0.9rem;
}
.overlay-mf {
  background-color: #eeeeee;
}
.ico-circle {
  color: #c5dacd;
}
.icon_hover:hover {
  color: white !important;
  background-color: #708289;
}
.icon_hover {
  color: #708289 !important;
  background-color: #c5dacd;
}
.product_hover:hover {
  opacity: 0.5;
}
.button_display {
  display: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 479px) {
  .btn {
    background-color: #111111;
    border: none;
    color: white;
    width: 77px;
    margin-left: 45px;
  }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 512px) {
  .btn {
    background-color: #111111;
    border: none;
    color: white;
    width: 77px;
    margin-left: 45px;
  }
}
@media only screen and (min-device-width: 513px) and (max-device-width: 580px) {
  .btn {
    background-color: #111111;
    border: none;
    color: white;
    width: 77px;
  }
}
@media only screen and (min-device-width: 581px) and (max-device-width: 767px) {
  .btn {
    background-color: #111111;
    border: none;
    color: white;
    width: 77px;
    margin-left: 17px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .btn {
    background-color: #111111;
    border: none;
    color: white;
    width: 77px;
    margin-left: 45px;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1200px) {
  .btn {
    background-color: #111111;
    border: none;
    color: white;
    width: 77px;
    margin-left: 45px;
  }
}
