<div>
  <div id="page-top">
    <app-header></app-header>

    <!--/ Nav Star /-->

    <!--/ Nav End /-->

    <!--/ Intro Skew Star /-->
    <div
      id="home"
      class="intro route bg-image img-responsive"
      style="background-image: url(assets/images/top-bg.jpg)"
    >
      <div class="overlay-itro"></div>
      <div class="intro-content display-table">
        <div class="table-cell">
          <div class="container">
            <!--<p class="display-6 color-d">Hello, world!</p>-->
            <h5 class="intro-title" style="margin: 0px">
              CUSTOM MERCHANDISE | UNIFORMS
            </h5>
            <p
              style="
                margin: 0px;
                color: #d8d1d1;
                font-size: 30px;
                font-style: italic;
              "
            >
              JUST FOR U
            </p>
            <!-- <p class="intro-subtitle" style="color: #0078ff"><span class="text-slider-items" >CHEF COAT,SHIRTS,PANTS,CAP</span><strong class="text-slider"></strong></p> -->
            <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
          </div>
        </div>
      </div>
    </div>
    <!--/ Intro Skew End /-->
    <div class="batan-bg">
      <section
        id="about"
        class="about-mf sect-pt4 route"
        style="background-color: #a4dad2; padding-top: 0px"
      >
        <div class="container-fluid">
          <div class="row">
            <div
              class="col-md-5 button-img"
              align="right"
              style="padding-right: 0px"
            >
              <img src="assets/images/button-full.png" width="100%" alt="" />
            </div>
            <div
              class="col-md-7 button-sec"
              style="padding-top: 200px; padding-left: 105px"
            >
              <div class="">
                <h5>
                  <b>WE ARE KENZ</b>
                </h5>
              </div>
              <p class="lead">
                Kenz help you take the work out of your work week and help you
                design and deliver a program that works best for you. From the
                front line employees to the back of the house
                <br />
                <br />
                Using the finest fabrics, we tailor our clothes to not only look
                exceptional but feel that way. And with an emphasis on
                durability, we make sure the design, color and shape can always
                sustain an employee’s rigorous schedule.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>

    <section class="process-section">
      <h5 class="proc-title">
        <b>PROCESS</b>
      </h5>
      <div id="circle-steps" class="clearfix">
        <div id="circle-step1" class="circle-section active" targetId="1">
          <h3>CONSULTATION/DESIGN</h3>
        </div>

        <div id="circle-step2" class="circle-section" targetId="2">
          <h3>SAMPLES</h3>
        </div>

        <div id="circle-step3" class="circle-section" targetId="3">
          <h3>MANUFACTURING</h3>
        </div>

        <div id="circle-step4" class="circle-section" targetId="4">
          <h3>RE-ORDER</h3>
        </div>

        <div id="steptext">
          <div id="steptext-inner">
            <div id="steptext-1" class="circle-text active">
              <h5>
                <b>STEP 1 : CONSULTATION/DESIGN</b>
              </h5>
              <p class="lead">
                We work with our clients and design to create employee apparel
                that perfectly compliments the environment and customers brand.
                This includes a detailed storyboard to help our clients see how
                our designs enhance their vision.
              </p>
            </div>

            <div id="steptext-2" class="circle-text" style="display: none">
              <h5>STEP 2 : Samples</h5>
              <p class="lead">
                Once we are given the green light, we cut the patterns then make
                the samples. We do this in house here at Kenz. The finished
                samples are then presented to the client.
              </p>
            </div>

            <div id="steptext-3" class="circle-text" style="display: none">
              <h5>STEP 3 : Manufacturing</h5>
              <p class="lead">
                Once the samples are accepted, we begin the manufacturing. Turn
                around time is swift for most orders. Extremely large orders or
                uniquely detailed orders may require more time.
              </p>
            </div>

            <div id="steptext-4" class="circle-text" style="display: none">
              <h5>STEP 4 : Reorders</h5>
              <p class="lead">
                Our relationship with our clients does not stop upon delivery.
                We are available and always prepared to reorder no matter what
                and it’s over easier to order using our software
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--/ Section Services Star /-->
    <section
      id="service"
      class="services-mf route"
      style="background-color: #a4dad2"
    >
      <div class="container" style="padding: 0px">
        <div class="row" align="left">
          <div class="col-sm-12">
            <div>
              <h5 class="titl-a">
                <b>WE DO IT YOUR WAY, THE CUSTOM WAY</b>
              </h5>
              <p class="lead">
                The Uniform Edit is all about custom made. Everything we do is
                customised for you.<br />
                We believe you are unique; your brand is unique and you deserve
                a customised look for your team.
              </p>
            </div>
          </div>
        </div>
        <div class="row" align="center">
          <div class="col-sm-4">
            <a routerLink="/t-shirt">
              <div class="service-box product_hover" style="padding: 0px">
                <img
                  src="assets/images/T shirt image.png"
                  style="width: 100%"
                />
                <div class="middle">
                  <div class="text">T-SHIRTS</div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-sm-4">
            <a routerLink="/blazer">
              <div class="service-box product_hover" style="padding: 0px">
                <img src="assets/images/k2.jpg" style="width: 100%" />
                <div class="middle">
                  <div class="text">BLAZERS</div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-sm-4">
            <a routerLink="/shirt">
              <div class="service-box product_hover" style="padding: 0px">
                <img src="assets/images/Shirts image.jpg" style="width: 100%" />
                <div class="middle">
                  <div class="text">SHIRTS</div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-sm-4">
            <a routerLink="/pants">
              <div class="service-box product_hover" style="padding: 0px">
                <img src="assets/images/k4.jpg" style="width: 100%" />
                <div class="middle">
                  <div class="text">PANTS</div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-sm-4">
            <a routerLink="/chefcoat">
              <div class="service-box product_hover" style="padding: 0px">
                <img src="assets/images/k5.jpg" style="width: 100%" />
                <div class="middle">
                  <div class="text">CHEF COAT</div>
                </div>
              </div>
            </a>
          </div>

          <div class="col-sm-4">
            <a routerLink="/house-keeping">
              <div class="service-box product_hover" style="padding: 0px">
                <img src="assets/images/k6.jpg" style="width: 100%" />
                <div class="middle">
                  <div class="text">HOUSE KEEPING</div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="row" align="center">
          <div class="col-12">
            <a
              type="button"
              class="icon_hover button button-a button-big icon_hover"
              style="background-color: #111111; border: none; color: white"
              routerLink="/product"
              >SEE ALL PRODUCTS</a
            >
          </div>
        </div>
      </div>
    </section>
    <!--/ Section Services End /-->

    <!--<section id="process" class="services-mf route" style="background-color: #a4dad2; padding-top: 100px">-->
    <!--  <div class="container-fluid" style="padding: 0px">-->
    <!-- <div class="row" align="left">
        <div class="col-sm-12">
          <div class="title-box ">
            <h5 class="titl-a">
              <b>WE DO IT YOUR WAY, THE CUSTOM WAY</b>
            </h5>
            <p class="lead">
              The Uniform Edit is all about custom made.  Everything we do is customised for you.
              We believe you are unique; your brand is unique and you deserve a customised look for your team.
            </p>
          </div>
        </div>
      </div> -->
    <!--    <div class="row"  align="center">-->

    <!--      <div class="col-3" style="padding: 0px">-->
    <!--        <img id="k" src="assets/images/k.jpg" height="80%" width="100%">-->
    <!--      </div>-->
    <!--      <div class="col-3" style="padding: 0px">-->
    <!--        <img id="e" src="assets/images/e.jpg" height="80%" width="100%">-->
    <!--      </div>-->
    <!--      <div class="col-3" style="padding: 0px">-->
    <!--        <img id="n" src="assets/images/n.jpg" height="80%" width="100%">-->
    <!--      </div>-->
    <!--      <div class="col-3" style="padding: 0px">-->
    <!--        <img id="z" src="assets/images/z.jpg" height="80%" width="100%">-->
    <!--      </div>-->

    <!--    </div>-->

    <!--  </div>-->
    <!--</section>-->

    <!--/ Section Contact-Footer Star /-->
    <section class="paralax-mf footer-paralax bg-image route">
      <div class="wr-container">
        <div class="overlay-mf"><h4>ORDER WITH US</h4></div>
        <form action="/action_page.php">
          <div class="row1">
            <div class="column1">
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Email"
                required
              />
            </div>
            <div class="column1">
              <input
                type="tel"
                class="phone-no"
                id="phone"
                name="phone"
                placeholder="Phone Number"
                pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
                required
              />
            </div>
            <div class="column1">
              <select id="Products" name="Products" required>
                <option value="australia">Product you are looking for</option>
                <option value="australia">Shirt</option>
                <option value="canada">T-shirt</option>
                <option value="usa">Pant</option>
                <option value="canada">Chef Coat</option>
                <option value="usa">Cap</option>
              </select>
            </div>
            <div class="column1">
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Number"
                required
              />
            </div>
          </div>
          <div class="row buttn-submit" style="position: relative">
            <input type="submit" value="Submit" />
          </div>
        </form>
      </div>

      <app-footer></app-footer>
    </section>
  </div>
</div>
