

    
   
    
  



<div id="page-top" style="background-color: #dfd8cb;font-family: 'Work Sans', sans-serif;">

  <!--/ Nav Star /-->
  <app-header></app-header>
  <!--/ Nav End /-->


  <div class="container-fluid">

  <div class="row" style="padding: 0px;  padding-bottom: 100px; margin-top: 40px; margin-bottom: 40px">


      
        
        <div class="container-fluid product-box" style="padding-left: 160px; padding-right: 160px">
          <div class="row">

            
                <div class="col-sm-4" align="center" style="padding-left: 0px;padding-right: 0px">
                  <a routerLink="/t-shirt">
                  <div class="card card_hover" style="background-color: #8A513A;margin: 20px;margin-top: 0px; border:none; margin-top: 150px;border-radius: 10px; ">
                      
                      <div style="margin-top: -50px ">
                        <img  class=" rounded-circle" src="assets/images/tshirt_circle.png" width="240px;" height="240px;" style="border-radius: 10px;  box-shadow: 0 8px 6px -6px black;" />
                      </div>
                      <div style="margin-top: 30px; margin-bottom:20px;">
                        <h6 style="color: white; font-size: 16px">TSHIRTS</h6>
                       
                        <p style="color: white; font-size: 12px">Custom made T-shirts for you and your team</p>
                      </div>
                  </div>
                  </a>
                </div>
                
            
                <div class="col-sm-4" align="center" style="padding-left: 0px;padding-right: 0px">
                  <a routerLink="/shirt">
                  <div class="card card_hover" style="background-color: #a5832c;margin: 20px;margin-top: 0px; border:none; margin-top: 150px;border-radius: 10px; ">
                      
                      <div style="margin-top: -50px ">
                        <img  class=" rounded-circle" src="assets/images/shirt_circle.png" width="240px;" height="240px;" style="border-radius: 10px;  box-shadow: 0 8px 6px -6px black;" />
                      </div>
                      <div style="margin-top: 30px; margin-bottom:20px;">
                        <h6 style="color: white; font-size: 16px">SHIRTS</h6>
                       
                        <p style="color: white; font-size: 12px">Custom Tailored Shirts to suit your brand </p>
                      </div>
                  </div>
                  </a>
                </div>
                
            
                <div class="col-sm-4" align="center" style="padding-left: 0px;padding-right: 0px">
                  <a routerLink="/chefcoat">
                  <div class="card card_hover" style="background-color: #6d6a59;margin: 20px;margin-top: 0px; border:none; margin-top: 150px;border-radius: 10px; ">
                      
                      <div style="margin-top: -50px ">
                        <img  class=" rounded-circle" src="assets/images/chef_circle.png" width="240px;" height="240px;" style="border-radius: 10px;  box-shadow: 0 8px 6px -6px black;" />
                      </div>
                      <div style="margin-top: 30px; margin-bottom:20px;">
                        <h6 style="color: white; font-size: 16px">CHEF COATS</h6>
                       
                        <p style="color: white; font-size: 12px;">Custom made chefcoats for your masterchefs</p>
                      </div>
                  </div>
                  </a>
                </div>
                
            
                <div class="col-sm-4" align="center" style="padding-left: 0px;padding-right: 0px">
                  <a routerLink="/pants">
                  <div class="card card_hover" style="background-color: #7c757a;margin: 20px;margin-top: 0px; border:none; margin-top: 150px;border-radius: 10px; ">
                      
                      <div style="margin-top: -50px ">
                        <img  class=" rounded-circle" src="assets/images/pants_circle.png" width="240px;" height="240px;" style="border-radius: 10px;  box-shadow: 0 8px 6px -6px black;" />
                      </div>
                      <div style="margin-top: 30px; margin-bottom:20px;">
                        <h6 style="color: white; font-size: 16px">PANTS</h6>
                       
                        <p style="color: white; font-size: 12px">Custom made pants for you and your team</p>
                      </div>
                  </div>
                  </a>
                </div>
                
            
                <div class="col-sm-4" align="center" style="padding-left: 0px;padding-right: 0px">
                  <a href="/#">
                  <div class="card card_hover" style="background-color: #5a707b;margin: 20px;margin-top: 0px; border:none; margin-top: 150px;border-radius: 10px; ">
                      
                      <div style="margin-top: -50px ">
                        <img  class=" rounded-circle" src="assets/images/hoodie_circle.png" width="240px;" height="240px;" style="border-radius: 10px;  box-shadow: 0 8px 6px -6px black;" />
                      </div>
                      <div style="margin-top: 30px; margin-bottom:20px;">
                        <h6 style="color: white; font-size: 16px">HOODIES</h6>
                       
                        <p style="color: white; font-size: 12px">Custom Tailored hoodies to suit your brand </p>
                      </div>
                  </div>
                  </a>
                </div>
                
            
                <div class="col-sm-4" align="center" style="padding-left: 0px;padding-right: 0px">
                  <a href="/#">
                  <div class="card card_hover" style="background-color: #3f413e;margin: 20px;margin-top: 0px; border:none; margin-top: 150px;border-radius: 10px; ">
                      
                      <div style="margin-top: -50px ">
                        <img  class=" rounded-circle" src="assets/images/bag_circle.png" width="240px;" height="240px;" style="border-radius: 10px;  box-shadow: 0 8px 6px -6px black;" />
                      </div>
                      <div style="margin-top: 30px; margin-bottom:20px;">
                        <h6 style="color: white; font-size: 16px">BAGS</h6>
                       
                        <p style="color: white; font-size: 12px">Custom made bags for your masterchefs</p>
                      </div>
                  </div>
                  </a>
                </div>
                
            
                <div class="col-sm-4" align="center" style="padding-left: 0px;padding-right: 0px">
                  <a href="/#">
                  <div class="card card_hover" style="background-color: #8a655f;margin: 20px;margin-top: 0px; border:none; margin-top: 150px;border-radius: 10px; ">
                      
                      <div style="margin-top: -50px ">
                        <img  class=" rounded-circle" src="assets/images/cap_circle.png" width="240px;" height="240px;" style="border-radius: 10px;  box-shadow: 0 8px 6px -6px black;" />
                      </div>
                      <div style="margin-top: 30px; margin-bottom:20px;">
                        <h6 style="color: white; font-size: 16px">CAP</h6>
                       
                        <p style="color: white; font-size: 12px">Custom made caps for your masterchefs</p>
                      </div>
                  </div>
                  </a>
                </div>
                
            
                <div class="col-sm-4" align="center" style="padding-left: 0px;padding-right: 0px">
                  <a href="">
                  <div class="card card_hover" style="background-color:#333333 ;margin: 20px; border:none; margin-top: 150px;border-radius: 10px; ">
                      

                      <div style="margin-top: -50px ">
                        <img  class=" rounded-circle" src="assets/images/lookingfor_circle.png" width="240px;" height="240px;" style="border-radius: 10px;box-shadow: 0 8px 6px -6px black;" />
                      </div>
                      <div style="margin-top: 30px; margin-bottom:20px;">
                        <h6 style="color: white;font-size: 16px">LOOKING FOR SOMETHING ELSE?</h6>
                        
                        <p style="color: white;font-size: 12px;">We do all corporate products, reach out to us.</p>
                      </div>
                  </div>
                  </a>
                </div>


          </div>
        </div>

      

      <!-- <a href="">
        <div class="row" style="margin-top: 50px;">
         
          <div class="col-md-10" style="padding: 50px;">
            <div class="row" style="background-color: #8a655f; height: 220px; border-radius: 20px;">
              <div class="col-md-12">
                <div style="margin: 0;position: absolute;top: 50%;-ms-transform: translateY(-50%);transform: translateY(-50%); padding-left: 30px; color: black">
                  <h4 style="text-transform: uppercase;">CAP</h4>
                  <p>Custom made caps for your brand</p>
                </div>
              </div>
            </div>
                        <div style="position: absolute; top: 10px;right: 100px;">
              <img  class="rounded-circle" src="img/cap_circle.png" width="300px;" height="300px;"  />
            </div>
            
          </div>
        </div>
      </a> -->

  

    </div>
  </div>


  <!--/ Section Contact-Footer Star /-->
  <app-footer></app-footer>

</div>>
