.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .centered{
    position: absolute;
    left: 36%;
    transform: translate(-50%, -50%);
  }
  .hr{ display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    margin-left: 113px;
    width: 100%
  }
  .order-histry{
    margin-left: 236px;
  }
  .heading-5{
    
    font-family: proximanova-bold;
    margin: 0px;
    font-size: 14px;
  }