
    
 
  

<div id="page-top" style="font-family: 'Work Sans', sans-serif;">

  <!--/ Nav Star /-->
  <app-header></app-header>
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: url(assets/images/banner-image.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h5 class="intro-title " style="font-size: 2rem;color: black;">OUR HAPPY CLIENTS</h5>
          <!-- <p class="intro-subtitle" style="color: #0078ff"><span class="text-slider-items" >CHEF COAT,SHIRTS,PANTS,CAP</span><strong class="text-slider"></strong></p> -->
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->
  <!--/ Section 9 img /-->
    <section class="footer-paralax route1" >
       <div class="container">
                <div class="row"  align="center">

                
        
                <div class="col-sm-4 nine-image">
                  <a href="#" >
                        <img src="assets/images/c1.png"  style="width: 100%;">
                  </a>
                  <p>IIM Bangalore</p>
                </div>
          
                
        
        
                <div class="col-sm-4 nine-image">
                  <a href="#">
                        <img src="assets/images/c2.png"  style="width: 100%;">
                  </a>
                  <p>Fully Filmy</p>
                </div>
          
                
        
        
                <div class="col-sm-4 nine-image">
                  <a href="#">
                        <img src="assets/images/c3.png"  style="width: 100%; ">
                  </a>
                  <p>TheVerb Studio</p>
                </div>
          
                
        
         
                <div class="col-sm-4 nine-image">
                  <a href="#">
                        <img src="assets/images/c1.png"  style="width: 100%;">
                  </a>
                  <p>XYZ Hotels</p>
                </div>
          
                
        
        
                <div class="col-sm-4 nine-image">
                  <a href="#">
                        <img src="assets/images/c2.png"  style="width: 100%;">
                  </a>
                  <p>Taj Hotels</p>
                </div>
          
                
        
        
                <div class="col-sm-4 nine-image">
                  <a href="#">
                        <img src="assets/images/c3.png"  style="width: 100%; ">
                  </a>
                  <p>Lotus chain of Hotels</p>
                </div>

                <div class="col-sm-4 nine-image">
                  <a href="#">
                        <img src="assets/images/c1.png"  style="width: 100%;">
                  </a>
                  <p>XYZ Hotels</p>
                </div>
          
                
        
        
                <div class="col-sm-4 nine-image">
                  <a href="#">
                        <img src="assets/images/c2.png"  style="width: 100%;">
                  </a>
                  <p>Fastrack</p>
                </div>
          
                
        
        
                <div class="col-sm-4 nine-image">
                  <a href="#">
                        <img src="assets/images/c3.png"  style="width: 100%; ">
                  </a>
                  <p>Lotus chain of Hotels</p>
                </div>
      
      </div>
       </div>
    </section>
  <!--/ Section 9 img End /-->

  <!--/ Section Contact-Footer Star /-->
  <app-footer></app-footer>
  

</div>
