.nav-lin{
    color: white
  }
  .nav-lin:hover{
    color: #ADD1CD;
  }
  .lead{
    font-size: .9rem;
  }
  .overlay-mf{
    background-color: #fff;

  }
  .ico-circle{
    color: #C5DACD;
  }
  .icon_hover:hover{
    color: white !important;
     background-color: #708289;
  }
  .icon_hover{
    color: #708289 !important;
    background-color: #C5DACD;
  }
  .button_display{
    display: none;
  }
  .nav_hover{
    color: white
  }
  .bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }
  
  .intro .overlay-itro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.1;
 }