<section>
  <footer>
    <div class="container-fluid">
      <div class="row footer-bg">
        <div class="col-md-2">
          <ul class="navbar-nav footer1sec">
            <li class="nav-item">
              <a class="nav-lin js-scroll" routerLink="/product"
                ><span class="nav_hover">PRODUCTS</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-lin js-scroll" routerLink="/clientele"
                ><span class="nav_hover">CLIENTELE</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-lin js-scroll" href="#"
                ><span class="nav_hover">ABOUT US</span></a
              >
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="navbar-nav footer1sec">
            <li class="nav-item">
              <a class="nav-lin js-scroll" href="#"
                ><span class="nav_hover">TESTIMONIALS</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-lin js-scroll" href="index.html"
                ><span class="nav_hover">CONTACT US</span></a
              >
            </li>
          </ul>
        </div>
        <div class="col-md-2">
          <img src="assets/images/footer-logo.png" class="footer-center-img" />
        </div>
        <div class="col-md-4">
          <ul class="navbar-nav footer1sec">
            <li class="nav-item">
              <a class="nav-lin js-scroll" href="#"
                ><span class="nav_hover">ADDRESS</span></a
              >
            </li>
            <P>MADD SQUARE CREATIONS PVT LTD </P>
            <P
              >No. 34/3,8th Main 8th Cross, 2nd block, Jayanagar Bangalore
              Bangalore, Karnataka 560011 India
            </P>
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="navbar-nav footer3sec" style="text-align: right">
            <li class="nav-item">
              <a class="nav-lin js-scroll" href="#"
                ><span class="nav_hover">FOLLOW US</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-lin js-scroll" href="#"
                ><span class="nav_hover"
                  ><img
                    src="assets/images/follow-icon.png"
                    width="25px;" /></span
              ></a>
            </li>
            <li class="nav-item terms">
              <a class="nav-lin js-scroll" href="#"
                ><span class="nav_hover">TERMS & CONDITIONS </span></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- <div class="copyright-box">
            <p class="copyright">&copy; Copyright <strong>KENZ</strong>. All Rights Reserved</p>
           
          </div> -->
</section>
