.nav_hover:hover {
  color: #add1cd;
}
.nav_hover {
  font-size: 16px;
  color: white;
}
.lead {
  font-size: 0.9rem;
}
.overlay-mf {
  background-color: #eeeeee;
}
.ico-circle {
  color: #c5dacd;
}
.icon_hover:hover {
  color: white !important;
  background-color: #708289;
}
.icon_hover {
  color: #708289 !important;
  background-color: #c5dacd;
}
.product_hover:hover {
  opacity: 0.5;
}
.button_display {
  display: none;
}
.btn {
  background-color: #111111;
  border: none;
  color: white;
  width: 77px;
  margin-left: 45px;
}
.col-form-label {
  margin: 0px 0;
  background-color: #fff;
  white-space: nowrap;
  padding-top: 14px;
}
.form-control {
  margin: 0 0;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 479px) {
  .btn {
    background-color: #111111;
    border: none;
    color: white;
    width: 77px;
    margin-left: 45px;
  }
}
@media only screen and (min-device-width: 480px) and (max-device-width: 512px) {
  .btn {
    background-color: #111111;
    border: none;
    color: white;
    width: 77px;
    margin-left: 45px;
  }
}
@media only screen and (min-device-width: 513px) and (max-device-width: 580px) {
  .btn {
    background-color: #111111;
    border: none;
    color: white;
    width: 77px;
    margin-left: 45px;
  }
}
@media only screen and (min-device-width: 581px) and (max-device-width: 767px) {
  .btn {
    background-color: #111111;
    border: none;
    color: white;
    width: 77px;
    margin-left: 17px;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .btn {
    background-color: #111111;
    border: none;
    color: white;
    width: 77px;
    margin-left: 45px;
  }
  .form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s,
      box-shadow 0.15s ease-in-out 0s;
    width: 125px;
    height: 40px;
    box-shadow: none;
    margin: 5px 34px;
  }
}
@media only screen and (min-device-width: 1025px) and (max-device-width: 1200px) {
  .btn {
    background-color: #111111;
    border: none;
    color: white;
    width: 77px;
    margin-left: 45px;
  }
}
