.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.centered {
  position: absolute;
  left: 36%;
  transform: translate(-50%, -50%);
}
/* carasol problem Solve*/
.carousel-control.right {
  right: 5px;
  left: auto;
}
h3 {
  margin: 91px 111px 23px;
}

@media only screen and (min-device-width: 220px) and (max-device-width: 480px) {
  .top {
    padding-left: 0;
  }
}

/* .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .centered{
    position: absolute;
    left: 36%;
    transform: translate(-50%, -50%);
  }
  .carousel-control.right {
    right: 5px;
    left: auto;
}
h3{margin: 44px 111px 0px;} */
