<div>

  <app-header></app-header>




  




<div id="page-top" style="font-family: 'Work Sans', sans-serif;">

  <!--/ Nav Star /-->
 
  <!--/ Nav End /-->
  <div class="container">  
    <div id="dashboard-items-wr" class="row block5">
      <div class="col-md-5 offset-md-1 n-order b5">
            <a routerLink="/new_order" class="">
              <div class="row">
              <div class="col-md-2 col-sm-2 col-2">
                <img src="assets/images/plus-icon.png">
              </div>

              <div class="col-md-10 col-sm-10 col-10  block-text">
                <h2 class="new-order">New Order</h2>
                <p>Place a new purchase order</p>
              </div>
              </div>
            </a>
      </div>

      <div class="col-md-5 offset-md-1 p-history b5">
            <a routerLink="/purchase_history" class="">
              <div class="row">
              <div class="col-md-2 col-sm-2 col-2">
                <img src="assets/images/purchase-icon.png">
              </div>

              <div class="col-md-10 col-sm-10 col-10  block-text">
                <h2  class="new-order">Purchase History</h2>
                <p>Reorder or check the previous orders</p>
              </div>
            </div>
            </a>
      </div>

      <div class="col-md-5 offset-md-1 o-status b5">
            <a routerLink="/order_status" class="">
              <div class="row">
              <div class="col-md-2 col-sm-2 col-2">
                <img src="assets/images/order-icon.png">
              </div>

              <div class="col-md-10 col-sm-10 col-10  block-text">
                <h2 class="new-order">Order Status</h2>
                <p>Check the status of current order</p>
              </div>
            </div>
            </a>
      </div>

      <div class="col-md-5 offset-md-1 financial-b b5">
            <a routerLink="/financials" class="">
              <div class="row">
              <div class="col-md-2 col-sm-2 col-2">
                <img src="assets/images/financial-icon.png">
              </div>

              <div class="col-md-10 col-sm-10 col-10  block-text">
                <h2 class="new-order">Financial</h2>
                <p>Check payment details</p>
              </div>
            </div>
            </a>
      </div>

      <div class="col-md-5 offset-md-1 Account-set b5">
            <a routerLink="/change_password" class="">
              <div class="row">
              <div class="col-md-2 col-sm-2 col-2">
                <img src="assets/images/order-icon.png">
              </div>

              <div class="col-md-10 col-sm-10 col-10  block-text">
                <h2 class="new-order">Account Settings</h2>
                <p>Change account settings</p>
              </div>
            </div>
            </a>
      </div>

      
    </div>
  </div>
  <app-footer></app-footer>

  


   
  

 

    





</div>

</div>